$color_grey: #d6d6d6
$color_green: #59a831
$color_muted_grey: #9f9f9f
$color_red: #f63712
$color_orange: #ffae00
$color_dark_grey: #2d2d2d
$color_blue: #428bca
$color_black: #000000
$color_white: #ffffff

$font: Proxima Nova

#container 
  margin: 50px

.box 
  width: auto
  margin: 10px
  padding: 0
  padding-bottom: 5px
  border: 3px groove $color_grey

img 
  padding: 0

.more-info 
  height: 40px
  padding-left: 10px
  font-family: $font
  font-size: 14px
  line-height: 22px 155%
  font-weight: 400/700

.info 
  height: 40px
  padding-top: 15px
  padding-left: 10px

.progress 
  border-radius: 0
  height: 13px
  background-color: $color_grey

.progress-bar 
  background-color: $color_green
  border-radius: 0

.progress-info 
  font-family: $font
  font-size: 14px
  color: $color_muted_grey
  line-height: 22px 155%
  font-weight: 400/700
  height: 40px
  padding: 0
  padding: 0 10px

.rated-count 
  padding-left: 10px
  font-family: $font
  font-size: 14px
  line-height: 22px 155%
  font-weight: 400/700

.price 
  padding-left: 10px
  font-family: $font
  font-size: 14px
  line-height: 22px 155%
  font-weight: 400/700

.gray 
  color: $color_muted_grey

.red 
  color: $color_red

.green 
  color: $color_green

i 
  padding-left: 3px
  color: $color_orange

.title 
  height: 80px
  font-family: $font
  font-size: 30px
  font-color: $color_dark_grey
  line-height: 36px 120%
  font-weight: 200
  padding: 0 10px
  overflow: hidden
  text-overflow: ellipsis

.text 
  font-family: $font
  font-size: 14px
  color: $color_blue
  padding-left: 10px


.bullet 
  border-radius: 50%
  background-color: color_muted_grey
  width: 7px
  height: 7px
  padding: 5px
  margin: 5px 

.menu 
  list-style-type: none
  margin-left: -25px

.submenu:focus 
  outline:none 
    .show-menu 
      visibility: visible

.show-menu 
  visibility: hidden
  width: 200px
  height: auto
  border: 2px solid $color_grey
  position: absolute
  z-index: 1
  margin-top: -35px
  margin-left: 20px
  background-color: $color_white
  box-shadow: 6px 6px 3px $color_grey
    
.show-menu  li a 
  font-family: $font
  font-size: 18px
  color: $color_black
  margin: 0

.info 
  overflow: hidden

.divider
  background-color: $color_grey
  height: 2px

.more-info 
  clear: both

.title 
  width: 80%
  display: inline-block

.submenu 
  width: 20%
  float: right
  display: inline-block

.box 
  width: 100%

