@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000311}}
#container {
  margin: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000314}}
.box {
  width: auto;
  margin: 10px;
  padding: 0;
  padding-bottom: 5px;
  border: 3px groove #d6d6d6;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000322}}
img {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000325}}
.more-info {
  height: 40px;
  padding-left: 10px;
  font-family: Proxima Nova;
  font-size: 14px;
  line-height: 22px 155%;
  font-weight: 400/700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000333}}
.info {
  height: 40px;
  padding-top: 15px;
  padding-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000338}}
.progress {
  border: none;
  height: 13px;
  background-color: #d6d6d6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000343}}
.progress-bar {
  background-color: #59a831;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000347}}
.progress-info {
  font-family: Proxima Nova;
  font-size: 14px;
  color: #9f9f9f;
  line-height: 22px 155%;
  font-weight: 400/700;
  height: 40px;
  padding: 0;
  padding: 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000357}}
.rated-count {
  padding-left: 10px;
  font-family: Proxima Nova;
  font-size: 14px;
  line-height: 22px 155%;
  font-weight: 400/700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000364}}
.price {
  padding-left: 10px;
  font-family: Proxima Nova;
  font-size: 14px;
  line-height: 22px 155%;
  font-weight: 400/700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000371}}
.gray {
  color: #9f9f9f; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000374}}
.red {
  color: #f63712; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000377}}
.green {
  color: #59a831; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000380}}
i {
  padding-left: 3px;
  color: #ffae00; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000384}}
.title {
  height: 80px;
  font-family: Proxima Nova;
  font-size: 30px;
  font-color: #2d2d2d;
  line-height: 36px 120%;
  font-weight: 200;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework2\/styles\.sass}line{font-family:\0000395}}
.text {
  font-family: Proxima Nova;
  font-size: 14px;
  color: #428bca;
  padding-left: 10px; }

/*# sourceMappingURL=styles.css.map */
