@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000313}}
.tile {
  height: 328px;
  width: 300px;
  padding: 0;
  margin: 25px;
  text-align: left;
  border: 3px groove #d6d6d6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000321}}
.title {
  height: 80px;
  font-family: Proxima Nova;
  font-size: 30px;
  font-color: #2d2d2d;
  line-height: 36px 120%;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000331}}
  .title .active {
    padding-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000335}}
.info2 {
  padding: 10px;
  height: 40px;
  font-family: Proxima Nova;
  font-size: 14px;
  color: #d6d6d6;
  line-height: 22px 155%;
  font-weight: 400/700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000345}}
.info-a {
  height: 40px;
  padding: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000350}}
.info-b {
  height: 40px;
  padding: 10px;
  font-family: Proxima Nova;
  font-size: 14px;
  color: #59a831;
  line-height: 22px 155%;
  font-weight: 400/700; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000360}}
.info-ab {
  height: 40px;
  padding: 5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000364}}
.star {
  font-size: 20px;
  color: orange;
  content: "★";
  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000371}}
.text {
  font-family: Proxima Nova;
  font-size: 14px;
  color: #d6d6d6;
  line-height: 22px 155%;
  font-weight: 400/700;
  display: block;
  margin-top: 5px;
  padding-left: 90px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000381}}
.rated {
  padding: 0;
  padding: 3px 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000384}}
  .rated .text {
    color: #428bca; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000388}}
.progress {
  border: none;
  height: 13px;
  background-color: #d6d6d6;
  border-radius: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000395}}
.progress-bar {
  background-color: #59a831;
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\0000399}}
.progress-info {
  font-family: Proxima Nova;
  font-size: 14px;
  color: #d6d6d6;
  line-height: 22px 155%;
  font-weight: 400/700;
  height: 40px;
  padding: 0;
  padding: 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\00003109}}
.access-end {
  color: #f63712; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\00003112}}
.open-menu {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\00003115}}
.show-menu {
  width: 200px;
  height: 150px;
  border: 2px solid #d6d6d6;
  position: absolute;
  top: 190px;
  left: 260px;
  background-color: white;
  box-shadow: 6px 6px 3px #d6d6d6; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\00003125}}
  .show-menu div {
    height: 50px;
    font-family: Proxima Nova;
    font-size: 18px;
    padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\00003130}}
    .show-menu div:nth-child(2) {
      border-top: 2px solid #d6d6d6;
      border-bottom: 2px solid #d6d6d6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\00003136}}
.course {
  text-align: center;
  font-family: Proxima Nova;
  font-size: 18px;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Tanya\/Desktop\/GridFramework\/style\.sass}line{font-family:\00003142}}
a img {
  float: right;
  width: 22px;
  height: 60px; }

/*# sourceMappingURL=style.css.map */
